{{ partial "main_header.html" }}

<!-- Slider -->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                <img src="/Content/consultant/images/pages/img_slider01.jpg" alt="slider_1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption 2 sft tp-resizeme"
                     data-x="center" data-hoffset="-240"
                     data-y="center" data-voffset="-100"
                     data-speed="300"
                     data-start="500"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    <h1>Helping your business<br>build and grow</h1>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption text1 sft tp-resizeme"
                     data-x="center" data-hoffset="-250"
                     data-y="center" data-voffset="10"
                     data-speed="300"
                     data-start="800"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    We bring years of IT experience to help streamline your business
                </div>
            </li>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                <img src="/Content/consultant/images/pages/img_slider02.jpg" alt="slider_2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption 2 sft tp-resizeme"
                     data-x="center" data-hoffset="-420"
                     data-y="center" data-voffset="-99"
                     data-speed="300"
                     data-start="500"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    <h1>Got Data?</h1>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption text1 sft tp-resizeme"
                     data-x="center" data-hoffset="-323"
                     data-y="center" data-voffset="-10"
                     data-speed="300"
                     data-start="800"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    Lets work together to make your data work for you<br /> with a custom reporting solution.
                </div>
                <div class="tp-caption btn02 sft tp-resizeme"
                     data-x="center" data-hoffset="-510"
                     data-y="center" data-voffset="80"
                     data-speed="300"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    <a href="Services/Dashboards.html">Learn More</a>
                </div>
            </li>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                <img src="/Content/consultant/images/pages/img_slider03.jpg" alt="slider_3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption 2 sft tp-resizeme"
                     data-x="center" data-hoffset="-340"
                     data-y="center" data-voffset="-140"
                     data-speed="300"
                     data-start="500"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    <h1>Work faster. <br/> Work smarter.</h1>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption text1 sft tp-resizeme"
                     data-x="center" data-hoffset="-323"
                     data-y="center" data-voffset="-10"
                     data-speed="300"
                     data-start="800"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    Talk to us today about a custom integration <br/>between the tools you already use and love.
                </div>

            </li>
        </ul>
    </div>
</div>

<!-- Services -->
<section class="services-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h2 class="title">Our Services</h2></div>

            <div class="col-sm-4">
                <div class="icon-box">
                    <i class="fa fa-laptop"></i>
                    <div class="text">
                        <h3>Business Software</h3>
                        <p>We will take the time to understand the tools and practices you already use in your business, and develop solutions that integrate seamlessly into your current environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box">
                    <i class="ion-arrow-graph-up-right"></i>
                    <div class="text">
                        <h3>Custom Integrations</h3>
                        <p>Want to make two different applications talk to each other? Work with us on a custom integration plan.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box">
                    <i class="fa fa-area-chart"></i>
                    <div class="text">
                        <h3>Dashboards & Reports</h3>
                        <p>Lets work together to make your business smarter. We can help produce custom business reports or dashboards to help you monitor the metrics that are important to you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box">
                    <i class="fa fa-cloud"></i>
                    <div class="text">
                        <h3>Cloud Solutions</h3>
                        <p>We love the cloud. Talk to us about optimizing hardware costs, business contingency, infrastructure availability and scaleability. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box">
                    <i class="fa fa-mobile-phone"></i>
                    <div class="text">
                        <h3>Mobile Applications</h3>
                        <p>Do you need a mobile application or want your current one updated? Talk to us about your mobile options today.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box">
                    <i class="ion-wand"></i>
                    <div class="text">
                        <h3>Web Sites</h3>
                        <p>Need a new feature on your corporate website? We can help.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Request -->
<a id="free"></a>
<section class="request-box">
    <div class="container">
        <div class="row">
            <div class="alert alert-success" id="submit-success" style="display:none">
                Thanks for reaching out, we will be in touch soon.
            </div>
            <div class="col-sm-5">
                <h2 class="title">Book a free inquiry.</h2>
                <p class="text">
                    Would you like to speak to one of our experts over the phone? Just submit your details and we’ll be in touch shortly. Don't worry, all of our quotes are free.
                </p>
            </div>
            <div class="col-sm-7">
<form action="https://liveformhq.com/form/abb5fc6f-16db-479c-9ce0-658f752979f2" class="requestform" id="book-meeting-form" method="post">                    <p class="author">
                        <label for="discuss">How can we help?</label>

                        <select id="Subject" name="Subject" required="required"><option value="business_software">Business Software</option>
<option value="custom_integrations">Custom Integrations</option>
<option value="dashboard_reports">Dashboards &amp; Reports</option>
<option value="cloud_solutions">Cloud Solutions</option>
<option value="mobile_applications">Mobile Applications</option>
<option value="web_sites">Web Sites</option>
<option value="other">Other</option>
</select>
                    </p>
                    <p class="name">
                        <label for="name">Your name*</label>
                        <input id="Name" name="Name" required="required" type="text" value="" />
                    </p>
                    <p class="phone">
                        <label for="discuss">You phone number*</label>
                        <input id="Phone" name="Phone" required="required" type="text" value="" />
                    </p>
                    <p class="email">
                        <label for="discuss">Your email*</label>
                        <input id="Email" name="Email" required="required" type="text" value="" />
                    </p>
                    <p style="width:98%">
                        <label for="discuss">Comments</label>
                        <textarea cols="20" id="Notes" name="Notes" rows="2" style="height:100px">
</textarea>
                    </p>
                    <p class="form-submit" style="float:left">
                        <input name="submit" type="submit" value="Submit" id="book-meeting-submit">
                    </p>
                    <input type="hidden" value="http://jnctech.ca/index.html#free?submit=true" name="_redirect"/>
</form>            </div>
        </div>
    </div>
</section>


<!-- Testimonial -->
<section class="testimonial-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title center">Recommended By</h2>
                <div class="wrapper">
                    <div class="testimonial" data-items="2" data-itemsdesktop="2" data-itemsdesktopsmall="2" data-itemstablet="1" data-itemsmobile="1" data-slidespeed="1" data-autoplay="true" data-nav="true" data-pagination="true">
                        <div class="item">
                            <p class="image">
                                <img src="/Content/consultant/images/pages/royal_150x150.png" alt="client">
                            </p>
                            <p class="text">
                                JNC Tech developed a customer portal and business intelligence suite for our business. The project was delivered professionally, on time and on budget.<span class="name">Eric Paladino</span><span class="position">IT Department</span>
                            </p>
                        </div>
                        <div class="item">
                            <p class="image"><img src="/Content/consultant/images/pages/cibowares_150x150.png" alt="client"></p>
                            <p class="text">
                                We have worked with JNC Tech for several years now. JNC has created custom business intelligence tools and system integrations for our business that are core functionality. JNC takes the time to listen and understand what the system requirements are, and provides meaningful real world explanations of potential paths. They then execute these plans into real tools. I Highly recommend JNC's services.
                                <span class="name">Dave Iwankow</span><span class="position">CEO</span>
                            </p>
                        </div>
                        <div class="item">
                            <p class="image"><img src="/Content/consultant/images/pages/sportmedit_150.png" alt="client"></p>
                            <p class="text">JNC Tech helped bring a modern look and feel to our web application. Highly recommend their services.<span class="name">Spencer MacDougal</span><span class="position">Project Manager</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{partial "main_footer.html"}}
